services:
  production:
    # image: ghcr.io/presenton/presenton:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      # You can replace 5001 with any other port number of your choice to run Presenton on a different port number.
      - "${PORT:-5000}:${PORT:-80}"
    volumes:
      - ./user_data:/app/user_data
    environment:
      - PORT=${PORT:-80}
      - NEXTJS_PORT=${NEXTJS_PORT:-31211}
      - FASTAPI_PORT=${FASTAPI_PORT:-50321}
      - CAN_CHANGE_KEYS=${CAN_CHANGE_KEYS}
      - LLM=${LLM}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - OLLAMA_MODEL=${OLLAMA_MODEL}
      - PEXELS_API_KEY=${PEXELS_API_KEY}

  development:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT:-5000}:${PORT:-80}"
      - "${NEXTJS_PORT:-31211}:${NEXTJS_PORT:-31211}"
      - "${FASTAPI_PORT:-50321}:${FASTAPI_PORT:-50321}"
    volumes:
      - .:/app
    environment:
      - PORT=${PORT:-80}
      - NEXTJS_PORT=${NEXTJS_PORT:-31211}
      - FASTAPI_PORT=${FASTAPI_PORT:-50321}
      - NODE_ENV=development
      - CAN_CHANGE_KEYS=${CAN_CHANGE_KEYS}
      - LLM=${LLM}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - OLLAMA_MODEL=${OLLAMA_MODEL}
      - PEXELS_API_KEY=${PEXELS_API_KEY}
      - LANGCHAIN_TRACING_V2=${LANGCHAIN_TRACING_V2}
      - LANGCHAIN_API_KEY=${LANGCHAIN_API_KEY}
      - LANGCHAIN_PROJECT=${LANGCHAIN_PROJECT}
